body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #5DA5DA;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.hour {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.description {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.past {
  background-color: red;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5cb85c;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #438d4f;
}
